<%= form_for(@contact_info) do |f| %>
  <%= render partial: 'shared/errors', locals: { model: @contact_info, model_name: 'Contact Info'} %>

  <div class="form-group">
    <%= f.label :first_name, 'First Name', class: 'control-label' %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, 'Last Name' %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :maiden_name, 'Maiden Name' %><br>
    <%= f.text_field :maiden_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address_line1, 'Address Line 1' %><br>
    <%= f.text_field :address_line1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address_line2, 'Address Line 2' %><br>
    <%= f.text_field :address_line2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :state_id %><br>
    <%= f.collection_select :state_id, State.order(abbreviation: :asc), :id, :abbreviation, { prompt: 'Choose a State', include_blank: true }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :show_email %><br>
    <%= f.check_box :show_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :class_year %><br>
    <%= f.select :class_year, Time.now.year.downto(1872).map {|i| [i,i] }, { prompt: 'Choose a Class Year', include_blank: true }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :instrument_id %><br>
    <%= f.collection_select :instrument_id, Instrument.order(name: :asc), :id, :name, { prompt: 'Choose an Instrument', include_blank: true }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :is_mv %>
    <%= f.check_box :is_mv, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :is_deleted %>
    <%= f.check_box :is_deleted, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :is_primary %>
    <%= f.check_box :is_primary, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit nil,  {class: 'btn btn-default'} %>
  </div>
<% end %>
