<%= content_for :content_layout, 'container-fluid' %>

<p id="notice"><%= notice %></p>

<h1>Listing Contact Infos</h1>

<table class="data_table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Maiden name</th>
      <th>Address line1</th>
      <th>Address line2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Show email</th>
      <th>Class year</th>
      <th>Instrument</th>
      <th>Is mv</th>
      <th>Is deleted</th>
      <th>Is primary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td><input type='text' id='col1_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col2_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col3_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col4_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col5_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col6_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col7_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col8_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col9_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col10_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col11_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col12_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col13_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col14_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col15_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col16_filter' placeholder='filter' class='search_init'/></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @contact_infos.each do |contact_info| %>
      <tr>
        <td><%= contact_info.first_name %></td>
        <td><%= contact_info.last_name %></td>
        <td><%= contact_info.maiden_name %></td>
        <td><%= contact_info.address_line1 %></td>
        <td><%= contact_info.address_line2 %></td>
        <td><%= contact_info.city %></td>
        <td><%= contact_info.state %></td>
        <td><%= contact_info.zip %></td>
        <td><%= contact_info.phone_number %></td>
        <td><%= contact_info.email %></td>
        <td><%= contact_info.show_email %></td>
        <td><%= contact_info.class_year %></td>
        <td><%= contact_info.instrument %></td>
        <td><%= contact_info.is_mv %></td>
        <td><%= contact_info.is_deleted %></td>
        <td><%= contact_info.is_primary %></td>
        <td><%= link_to 'Show', contact_info %></td>
        <td><%= link_to 'Edit', edit_contact_info_path(contact_info) %></td>
        <td><%= link_to 'Destroy', contact_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact info', new_contact_info_path %>
