<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact_info.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact_info.last_name %>
</p>

<p>
  <strong>Maiden name:</strong>
  <%= @contact_info.maiden_name %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @contact_info.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @contact_info.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact_info.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact_info.state_id %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @contact_info.zip %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact_info.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_info.email %>
</p>

<p>
  <strong>Show email:</strong>
  <%= @contact_info.show_email %>
</p>

<p>
  <strong>Class year:</strong>
  <%= @contact_info.class_year %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @contact_info.instrument_id %>
</p>

<p>
  <strong>Is mv:</strong>
  <%= @contact_info.is_mv %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @contact_info.is_deleted %>
</p>

<p>
  <strong>Is primary:</strong>
  <%= @contact_info.is_primary %>
</p>

<%= link_to 'Edit', edit_contact_info_path(@contact_info) %> |
<%= link_to 'Back', contact_infos_path %>
