<%= form_for(@officer) do |f| %>
  <%= render partial: 'shared/errors', locals: { model: @officer, model_name: 'officer'} %>

  <div class="form-group">
    <%= f.label :contact_id, 'Contact', class: 'control-label' %><br>
    <%= f.collection_select :contact_id, Contact.order(last_name: :asc), :id, :name, { prompt: 'Choose a Contact', include_blank: true }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :office_id, 'Office', class: 'control-label' %><br>
    <%= f.collection_select :office_id, Office.order(display_order: :asc), :id, :title, { prompt: 'Choose an Office', include_blank: true }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :bio, class: 'control-label' %><br>
    <%= f.cktext_area :bio, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit nil,  {class: 'btn btn-default'} %>
  </div>
<% end %>
