<p id="notice"><%= notice %></p>

<h1>Listing Officers</h1>

<table class="data_table">
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th class="no-icon"></th>
      <th class="no-icon"></th>
      <th class="no-icon"></th>
    </tr>
    <tr>
      <td><input type='text' id='col1_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col2_filter' placeholder='filter' class='search_init'/></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @officers.each do |officer| %>
      <tr>
        <td><%= officer.name %></td>
        <td><%= officer.bod_position %></td>
        <td><%= link_to 'Show', officer %></td>
        <td><%= link_to 'Edit', edit_officer_path(officer) %></td>
        <td><%= link_to 'Destroy', officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Officer', new_officer_path %>
