<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @officer.name %>
</p>

<p>
  <strong>Office:</strong>
  <%= @officer.office %>
</p>

<p>
  <strong>Bio:</strong>
  <%= get_html(@officer.bio) %>
</p>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
