<%= content_for :content_layout, 'container-fluid' %>

<div class="row">
  <div class="col-sm-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tags</h3>
      </div>
      <div class="panel-body">
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, { action: :index, tag: tag.name }, class: css_class %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <% @articles.each do |article| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= article.title %></h3>
        </div>
        <div class="panel-body">
          <%= get_html(article.body) %>
          <div class="article-footer">
            Posted
            <% if article.author %> by <%= article.author %><% end %>
            <%= time_ago_in_words article.created_at %> ago
          </div>
        </div>
      </div>
    <% end %>
    <div class="flickr_pagination">
      <%= will_paginate @articles %>
    </div>
  </div>
</div>
