<%= form_for(@bod_position) do |f| %>
  <%= render partial: 'shared/errors', locals: { model: @bod_position, model_name: 'BOD Position'} %>

  <div class="form-group">
    <%= f.label :title, class: 'control-label' %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :display_order, class: 'control-label' %><br>
    <%= f.text_field :display_order, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit nil,  {class: 'btn btn-default'} %>
  </div>
<% end %>
