<p id="notice"><%= notice %></p>

<h1>Listing States</h1>

<table class="data_table">
  <thead>
    <tr>
      <th>Abbreviation</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td><input type='text' id='col1_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col2_filter' placeholder='filter' class='search_init'/></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.abbreviation %></td>
        <td><%= state.name %></td>
        <td><%= link_to 'Show', state %></td>
        <td><%= link_to 'Edit', edit_state_path(state) %></td>
        <td><%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New State', new_state_path %>
