<%= content_for :content_layout, 'container-fluid' %>
<%= content_for :title, 'Home' %>

<div class="row">
  <div class="col-sm-8">
    <% @articles.each do |article| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= article.title %></h3>
        </div>
        <div class="panel-body">
          <%= get_html(article.body) %>
          <div class="article-footer">
            Posted
            <% if article.author %> by <%= article.author %><% end %>
            <%= time_ago_in_words article.created_at %> ago
          </div>
        </div>
      </div>
    <% end %>
    <div class="flickr_pagination">
      <%= will_paginate @articles %>
    </div>
  </div>
  <div class="col-sm-4">
    <%= render "pages/twitter_feed" %>
    <br/><br/>
    <%= render "pages/facebook_feed" %>
  </div>
</div>
