<%= content_for :content_layout, 'container-fluid' %>
<%= title 'Contacts' %>

<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table class="data_table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Maiden name</th>
      <th>Graduated</th>
      <th>Major</th>
      <th>Instrument</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td><input type='text' id='col1_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col2_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col3_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col4_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col5_filter' placeholder='filter' class='search_init'/></td>
      <td><input type='text' id='col6_filter' placeholder='filter' class='search_init'/></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.maiden_name %></td>
        <td><%= contact.graduated %></td>
        <td><%= contact.major %></td>
        <td><%= contact.instrument %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
