<%= form_for(@link) do |f| %>
  <%= render partial: 'shared/errors', locals: { model: @link, model_name: 'link'} %>

  <div class="form-group">
    <%= f.label :title, class: 'control-label' %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url, class: 'control-label' %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit nil,  {class: 'btn btn-default'} %>
  </div>
<% end %>
