<%= form_for(@instrument) do |f| %>
  <%= render partial: 'shared/errors', locals: { model: @instrument, model_name: 'instrument'} %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit nil,  {class: 'btn btn-default'} %>
  </div>
<% end %>
